---
name: CI

env:
  VERSION_GO: '1.21'
  VERSION_HELM: 'v3.14.2'

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    name: "Build & Test"
    if: "!contains(github.event.head_commit.message, '[ci skip]')"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ env.VERSION_GO }}

      - uses: actions/cache@v4
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Install dependencies
        run: make bootstrap

      - name: Run unit tests
        run: make test

      - name: Verify installation
        run: |
          mkdir -p helmhome
          make install HELM_HOME=helmhome
          helmhome/plugins/helm-kcl/bin/kcl version

  helm-install:
    name: helm install
    if: "!contains(github.event.head_commit.message, '[ci skip]')"
    needs: [build]
    runs-on: ${{ matrix.os }}
    container: ${{ matrix.container }}
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        shell: [ default ]
        experimental: [ false ]
        include:
          - os: windows-latest
            shell: wsl
            experimental: false
          - os: windows-latest
            shell: cygwin
            experimental: false
          - os: ubuntu-latest
            container: alpine
            shell: sh
            experimental: false

    steps:
      - name: Disable autocrlf
        if: "contains(matrix.os, 'windows-latest')"
        run: |-
          git config --global core.autocrlf false
          git config --global core.eol lf

      - uses: actions/checkout@v4

      - name: Setup Helm
        uses: azure/setup-helm@v3.5
        with:
          version: ${{ env.VERSION_HELM }}

      - name: Setup WSL
        if: "contains(matrix.shell, 'wsl')"
        uses: Vampire/setup-wsl@v3

      - name: Setup Cygwin
        if: "contains(matrix.shell, 'cygwin')"
        uses: egor-tensin/setup-cygwin@v4
        with:
          platform: x64

      - name: helm plugin install
        run: helm plugin install .

  integration-tests:
    name: Integration Tests
    if: "!contains(github.event.head_commit.message, '[ci skip]')"
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - uses: engineerd/setup-kind@v0.5.0
        with:
          version: "v0.11.1"

      - uses: actions/checkout@v4

      - name: Setup Helm
        uses: azure/setup-helm@v3.5
        with:
          version: ${{ env.VERSION_HELM }}

      - name: helm plugin install
        run: helm plugin install .
